<nav class="navbar navbar-default navbar-fixed-top box-shadow--6dp">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{#if user}} Welcome {{user.name}}!{{else}}RU Virtual Flyers{{/if}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        {{#if user}}
        <li class="active"><a data-toggle="modal" data-target="#myModalSubmit">Submit a Location<span class="sr-only">(current)</span></a></li>
        {{/if}}
        </ul>
        {{#if user}}
          <form class="navbar-form navbar-right" method="post" action="/check">
           
            
            <button href="/logout" class="btn btn-danger">Sign out</button>
            
          
          
          
          </form>
          {{else}}
            <form class="navbar-form navbar-right" method="post" action="/check">
            <div class="form-group">
              <input type="text" placeholder="Username" class="form-control" name="username">
            </div>
  
            
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control" name="password">
            </div>
            
            <button type="submit" class="btn btn-success">Sign in</button>
          
          
          </form>
          {{/if}}
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron box-shadow--4dp">
        <div class="jumbo container">
        <h1 class="animated fadeIn">Rutgers Virtual Flyers</h1>
        <img class ="img-responsive middle" src="/images/cityday.svg">
        <br />
        <p class="animated fadeIn"><strong>Rutgers Virtual Flyers connects you with new local businesses in the Rutgers Area</strong></p>
        {{#if user}}
        {{else}}
        <p><a class="btn btn-primary btn-lg signup" data-toggle="modal" data-target="#myModal" role="button">Sign Up Now&raquo;</a></p>
        {{/if}}
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="list-group box-shadow--4dp">
  <a href="#" class="list-group-item active">
    Show All
  </a>
  <a href="#" class="list-group-item">Food</a>
  <a href="#" class="list-group-item">Nightlife</a>
  <a href="#" class="list-group-item">Restaurants</a>
  <a href="#" class="list-group-item">Shopping</a>
  <a href="#" class="list-group-item">Active Life</a>
  <a href="#" class="list-group-item">Arts & Entertainment</a>
  <a href="#" class="list-group-item">Automotive</a>
  <a href="#" class="list-group-item">Beauty & Spas</a>
  <a href="#" class="list-group-item">Education</a>
  <a href="#" class="list-group-item">Event Planning & Services</a>
  <a href="#" class="list-group-item">Health & Medical</a>
  <a href="#" class="list-group-item">Home Services</a>
</div>
        </div>
        <div class="col-md-8">
          <div class="panel panel-default box-shadow--4dp">
            <div class="panel-heading">
              <h5>Bucket & Bay Craft Gelato</h5>
            </div>
            <div class="panel-body">
              <div class="container">
              <div class="row">
              <div class="col-md-2">
              <img class="img-responsive" src="http://placehold.it/140x100">
              </div>
              <div class="col-md-2">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i> 
              <p>109 Reviews</p>
              <p>$  Gelato, Coffee & Tea, Ice Cream & Frozen Yogurt</p>
              </div>
              <div class="col-md-2">
              <p>150 Bay St</p>
              <p>Jersey City, NJ 07302</p>
              <p>(201) 503-5588</p>
              </div>
              </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default box-shadow--4dp">
            <div class="panel-heading">
              <h5>Bucket & Bay Craft Gelato</h5>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
       </div>
      </div>
      </div>
      <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Register</h4>
      </div>
      <div class="modal-body">
        <form action="/save" method="post">
        <div class="form-group">
          <label for="userName">User Name </label>
          <input type="name" class="form-control" id="nameInput" name="username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModalSubmit" tabindex="-1" role="dialog" aria-labelledby="myModalSubmitLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Submit a New Location</h4>
      </div>
      <div class="modal-body">
        <form action="/newLocation" method="post">
        <div class="form-group">
          <label for="Location Name">Location Name</label>
          <input type="text" class="form-control" id="locationName" name="locationName">
        </div>
        <div class="form-group">
          <label for="Description">Description</label>
          <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="form-group">
          <label for="Description">Address</label>
          <input type="text" class="form-control" id="address" name="address">
        </div>
        <div class="form-group">
          <label for="Description">Phone Number</label>
          <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
        </div>
        <div class="form-group">
          <label for="category">Select a Location Category</label>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Category<span class="caret"></span>
  </button>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
      <hr>
      </div>
      <footer class="footer">
        <div class="container">
        <img class ="img-responsive middle" src="/images/citynight.svg">
        <p>&copy; 2016 RU Virtual Flyers</p>
        </div>
      </footer>