<nav class="navbar navbar-default navbar-fixed-top box-shadow--6dp">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">RU Virtual Flyers</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" method="post" action="/check">
            <div class="form-group">
              <input type="text" placeholder="Username" class="form-control" name="username">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron box-shadow--4dp">
      <div class="container">
        <h1>Rutgers Virtual Flyers</h1>
        <p>Rutgers Virtual Flyers connects you with new local businesses in the Rutgers Area</p>
        <p><a class="btn btn-primary btn-lg signup" href="/register" role="button">Sign Up Now&raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default box-shadow--4dp">
            <div class="panel-heading">
              <h3 class="panel-title">Food</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel panel-default box-shadow--4dp">
            <div class="panel-heading">
              <h3 class="panel-title">Nightlife</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
       </div>
        <div class="col-md-3">
          <div class="panel panel-default box-shadow--4dp">
            <div class="panel-heading">
              <h3 class="panel-title">Restaurants</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel panel-default box-shadow--4dp">
            <div class="panel-heading">
              <h3 class="panel-title">Shopping</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default box-shadow--4dp">
            <div class="panel-heading">
              <h3 class="panel-title">Active Life</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel panel-default box-shadow--4dp">
            <div class="panel-heading">
              <h3 class="panel-title">Arts & Entertainment</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
       </div>
        <div class="col-md-3">
          <div class="panel panel-default box-shadow--4dp">
            <div class="panel-heading">
              <h3 class="panel-title">Automotive</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel panel-default box-shadow--4dp">
            <div class="panel-heading">
              <h3 class="panel-title">Beauty & Spas</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default box-shadow--4dp">
            <div class="panel-heading">
              <h3 class="panel-title">Education</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel panel-default box-shadow--4dp">
            <div class="panel-heading">
              <h3 class="panel-title">Event Planning & Services</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
       </div>
        <div class="col-md-3">
          <div class="panel panel-default box-shadow--4dp">
            <div class="panel-heading">
              <h3 class="panel-title">Health & Medical</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel panel-default box-shadow--4dp">
            <div class="panel-heading">
              <h3 class="panel-title">Home Services</h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>
      </div>
      <hr>
      </div>
      <footer class="footer">
        <div class="container">
        <img src="/images/cityday.svg">
        <p>&copy; 2016 RU Virtual Flyers</p>
        </div>
      </footer>